In [1]:
from Trans_Tokenize import *
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os
import sys
from sklearn.model_selection import train_test_split

import unicodedata

In [2]:
raw_data=pd.read_csv('../job_data.csv')

In [8]:
raw_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9843 entries, 0 to 9842
Data columns (total 23 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Job Name              9843 non-null   object
 1   Job Link              9843 non-null   object
 2   Location              9843 non-null   object
 3   Update Date           9843 non-null   object
 4   Deadline              9843 non-null   object
 5   Experience            9843 non-null   object
 6   Job Level             9843 non-null   object
 7   Industry              9843 non-null   object
 8   Employment Type       9842 non-null   object
 9   Welfare               9843 non-null   object
 10  Job Description       9843 non-null   object
 11  Job Requirements      9843 non-null   object
 12  Other Information     9843 non-null   object
 13  Job Tags              9843 non-null   object
 14  Company URL           9843 non-null   object
 15  Company Name          9486 non-null   object
 16  Company Address       9484 non-null   object
 17  Company Scale         9486 non-null   object
 18  Company Type          9486 non-null   object
 19  Company Website       9486 non-null   object
 20  Follower              9486 non-null   object
 21  Company Introduction  9486 non-null   object
 22  Salary                9843 non-null   object
dtypes: object(23)
memory usage: 1.7+ MB

In [7]:
raw_data['Salary'][raw_data['Salary']=='Cạnh tranh'].value_counts()

Salary
Cạnh tranh    3880
Name: count, dtype: int64