## 2 Khám phá dữ liệu
Có tất cả 10931 dòng và  cột.

Mỗi dòng đại diện cho 1 mẫu dữ liệu.
| Cột               | Mô tả                                                         |
|-------------------|---------------------------------------------------------------|
| Job Name          | Tên công việc                                                 |
| Link              | Đường dẫn của job                                             |
| Location          | Địa điểm                                                      |
| Update Date       | Ngày up CV                                                    |
| Deadline          | Hạn nộp CV                                                    |
| Salary            | Lương                                                         |
| Experience        | Kinh nghiệm                                                   |
| Rank              | Cấp bậc                                                       |
| Briefcase         | Loại ngành nghề                                               |
| Job type          | Hình thức làm việc                                            |
| Welfare           | Phúc lợi                                                      |
| Job Description   | Mô tả công việc                                               |
| Job Requirement   | Yêu cầu công việc                                             |
| Job Location      | Địa điểm làm việc                                             |
| Other Information | Thông tin khác                                                |
| Job Tags          | Job Tags                                                      |
| Company Link      | Đường dẫn đến trang công ty                                   |
| Company Name      | Tên công ty                                                   |
| Company Location  | Địa điểm của công ty                                          |
| Company Scale     | Quy mô của công ty                                            |
| Company Type      | Loại hình hoạt động                                           |
| Company Website   | Website của công ty                                           |
| Followers         | Số lượng người theo dõi                                       |
| Company Intro     | Phần giới thiệu của công ty                                   |

In [1]:
import pandas as pd

In [2]:
# Đọc file csv
data = pd.read_csv('../dataset/Defined_salary.csv')
data.head()

,Location,Experience,Job Level,Industry,Employment Type,Welfare,Job Requirements,Follower,Salary
0,Hai Duong,0.0,Employee,"['accounting', 'auditing', 'statistics']",Official,"['laptop', 'insurance', 'travel', 'allowance',...","{'ms', 'major', 'characteristics', 'excel', 'l...",376,9000000
1,Long An,1.0,Employee,"['maintenance', 'repair']",Official,"['laptop', 'insurance', 'travel', 'allowance',...","{'given', 'college', 'priority', 'refrigeratio...",258,13500000
2,Ha Noi,1.5,Employee,"['marketing', 'sales', 'importexport']",Official,"['insurance', 'travel', 'allowance', 'bonus', ...","{'ability', 'measurement', 'years', 'manage', ...",48,18800000
3,Ho Chi Minh,5.0,Manager,"['interior', 'exterior']",Official,"['insurance', 'travel', 'bonus', 'health', 'ca...","{'check', 'flexible', 'levelhaving', 'understa...",19510,31200000
4,Ho Chi Minh,1.5,Employee,"['interior', 'exterior', 'architecture', 'cons...",Official,"['insurance', 'travel', 'allowance', 'overseas...","{'assigned', 'board', 'prices', 'understanding...",457,13000000


| Cột               | Kiểu dữ liệu |
|-------------------|--------------|
| Location          | object       |
| Experience        | float64      |
| Job Level         | object       |
| Industry          | object       |
| Employment Type   | object       |
| Welfare           | object       |
| Job Requirements  | object       |
| Follower          | int64        |
| Salary            | int64        |

In [3]:
# Xác định kiểu dữ liệu của các cột
data.dtypes

Location             object
Experience          float64
Job Level            object
Industry             object
Employment Type      object
Welfare              object
Job Requirements     object
Follower              int64
Salary                int64
dtype: object